::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-resizer{
  background: transparent;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  background-clip: content-box;
  border: solid 2px transparent;
}
/*滚动轨道*/
::-webkit-scrollbar-track {
  background-color: rgba(0, 43, 8, 0.26);
}
/*滚动条*/
::-webkit-scrollbar-thumb {
  min-height: 20px;
  background-color: rgba(12, 43, 15, 0.26);

}
::-webkit-scrollbar-thumb:hover{
  background-color: #4680E7;
  /*border-width: 1px;*/
}
